/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/google/*.json
/vendor
/data
.env.backup
.env.production

.env
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.ai
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/.ai-factory/plans
/.ai-factory/patches
